{% extends "_base.html" %}
{% load static %}
{% block content %}

<script src="https://cdn.tailwindcss.com"></script>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
<div class="grid grid-cols-4">
    <div class="flex flex-col min-h-screen">
<p class="p-2 text-2xl font-bold text-white">Django Twitter</p>

<div class="flex-grow items-center p-2 mt-4">

    <div class="flex gap-3 items-center py-4 hover:bg-gray-400">
        <i class="fa-solid fa-house fa-lg" style="color: #ffffff;" ></i>
        <a href="{% url 'home' %}" class="text-xl font-semibold text-white">Home</a>
    </div>

    <div class="flex gap-3 items-center py-4 hover:bg-gray-400">
        <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>     
           <p class="text-xl font-semibold text-white">Search</p>
    </div>
    <div class="flex gap-3 items-center py-4 hover:bg-gray-400">
        <i class="fa-solid fa-bell fa-lg" style="color: #ffffff;"></i>
        <p class="text-xl font-semibold text-white">Notification</p>
    </div>
    <div class="flex gap-3 items-center py-4 hover:bg-gray-400">
        <i class="fa-solid fa-message fa-lg" style="color: #ffffff;"></i>
        <p class="font-semibold text-white">Messages</p>
    </div>
    <div class="flex gap-3 items-center py-4 hover:bg-gray-400">
        <i class="fa-solid fa-bookmark fa-lg" style="color: #ffffff;"></i>
        <p class="text-xl font-semibold text-white">Bookmarks</p>
    </div>
    <div class="flex gap-3 items-center py-4 hover:bg-gray-400">
        <i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i>
        <p class="text-xl font-semibold text-white">Profile</p>
    </div>
   
</div>
{% if request.user.username %}

<a href="{% url 'account_logout' %}" class="py-[9px] mx-12 mb-4 text-white bg-red-500 rounded center text-center">Logout</a>

{% else %}

<div class=
"flex justify-center mb-4 w-full">
    <a href="{% url 'account_login' %}" class="p-2 mx-8 w-full text-center text-white bg-blue-500 rounded rounded-lg bg-blue- center">Login</a>

</div>
{% endif %}

    </div>
  
    <!-- Middle Part-->
    
    <div class="overflow-y-scroll col-span-2 h-screen text-white bg-slate-900">





        <div class="flex gap-4 mt-4 w-full">
        <div id="image">
            <i class="text-white fa-solid fa-user-circle fa-xl"></i>
        
        </div>
        
        <div id="post" class="w-full">
        
        
            <div class="flex gap-2 items-center">
            <p class="font-bold">{{post.user}}</p>
            <i class="fa-solid fa-certificate" style="color: #62a0ea;"></i>
            <p class="text-slate-300 text-[13px] mx-2">{{post.created_at}}</p>
            </div>
        <div class="">
            <p>
              {{post.content}}
            </p>
        
            {% if post.is_image %}
            <img src="{{post.media.url}}" height="200" width="500" controls muted autoplay class="mt-2 w-full"/>
            
            
            
            {% endif %}
            {% if post.is_video %}
            
            <video src="{{post.media.url}}" height="500" width="500" controls muted  autoplay class="mt-2 w-full"/>
            
            
            
            {% endif %}
        
            
        </div>
        
        <!--likes shares posts-->
        <div class="flex gap-4 justify-between my-4">
            <div class="flex gap-4">
                <a href="{% url 'comment' post.id %}">
            <i class="font-thin fa-regular fa-comment fa-md" style="color: #ffffff;"> {{post.total_comments}}</i>
                </a>
            <a href="{% url 'like' post.id %}" class="p-0 m-0">
            <i class="fa-regular fa-heart fa-md" style="color: #ffffff;"> {{post.like_count}}</i>
            </a>
            </div>
            <div class="mr-8">
                <i class="fa-regular fa-bookmark" style="color: #ffffff;"></i>
            </div>
        
        </div>
        
        
        </div>
        
         </div>
        <hr/>

        <div class="mx-8">
            <form method="POST" action="{% url 'comment' post.id %}">
                {% csrf_token %}
            <input type="text" name="comment" class="p-2 mt-4 w-full h-32 bg-slate-700" name="comment"/>
            <button type="submit" class="p-2 mt-4 text-white rounded-lg bg-slate-500">Post Comment</button>
            </form>
        </div>
        <span class="mb-2 text-2xl font-bold text-white"> Comments</span>
        {% for comment in post.comments.all  %}
        <div class="p-2 mb-4 bg-slate-700">
           <span class="mb-2 text-slate-400"> {{comment.user}}
            {{comment.created_at|date}}<br/>
           </span>
            
        {{comment.content}}
        </div>
        {% endfor %}
        
            
       
    </div>
  
</div>

{% endblock content %}
